* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
}

/*  empieza el header y la navegacion*/
.menunav {
    height:10%;
    background-color: rgb(53,58,64);
    display: flex;
    justify-content: space-between;
    padding:1rem 5rem;
}

.contenedorLogo {  /* texto y logo */
    width:20%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.contenedorLogo a {
    display: inline-block;
    width: 40%;
    
    
}

.contenedorLogo img{
    width: 100%;
    object-fit: cover;
    
}

.contenedorLogo h2{
    color: white;
}

.navegacion{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 60%;
}

.listanav {
    display: flex;
    justify-content:space-around;
    list-style: none;
    width: 100%;
}
.colornav {
    color:rgb(110, 111, 112);
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1.2rem;
}

#colornav1 {
    text-decoration: none;
    color: green;
    font-size: 1.2rem;
}

/* aca termina el header*/

/* arranca la seccion */
.laConferencia{
    height: 85%;
    background:linear-gradient(to bottom,#00000077, #00000080,#0000008c), url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.contenedorTextConf {
    width: 30%;
    color:white;
    height: 50%;
    margin-top: 20%;
   text-align: right;
   font-size: 110%;
}


#texOrador {
    position: absolute;
    top: 75%;
    left: 79%;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10%;
    padding: 6px;


}


.colorfondo {
    position: absolute;
    top: 75%;
    left: 88.3%;
    color: aliceblue;
    background-color: green;
    border: none;
    border-radius: 10%;
    padding: 8px;
    text-decoration: none;
}

/*aca termina la section */

/* comienza las tarjetas*/


.sectionOradores {
    margin: 0;
    padding: 0;
    text-align: center;


}

.sectionOradores span {
    font-size: small;
    font-weight: 100;


}

.cardPadre {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    column-gap: 4%;

}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 0% 0% 0px 0px;
}

.card {
    text-align: left;
    padding-bottom: 1%;
    border: 1px solid rgb(236, 236, 236);
    width: 350px;
    height: 80%;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radio: 0px 0px 4px 4px;
    -moz-border-radio: 0px 0px 4px 4px;

}

.card h2 {
    position: relative;
    margin: 0;
    bottom: 1%;
    margin-top: 1%;
    margin-left: 3%;
}


.card h4 {
    display: inline-block;
    margin-left: 1%;
    margin-top: 8%;
    background-color: rgb(20, 196, 196);
    border-radius: 6px;
    border-radius: 6px;
    padding: 3px;
    color: white;
    font-size: smaller;
}

#java {
    color: black;
    background-color: rgb(233, 190, 4);
    border: 1px;
}

#negocios {
    color: white;
    text-decoration: none;
    background-color: grey;
    border: 1px;
}

.card p {
    margin-left: 3%;
}

#strar a {
    background-color: red;
    text-decoration: none;
}

/*aca termina las tarjetas*/
/* comienzo de la pantalla dividida*/
.sectionPadre {
    position: relative;
    width: 100%;
    height: 60vh;
}

.imagenplaya {
    width: 50%;
    height: 100%;
    display: inline-block;
    margin-right: 2px;
    background-image: url("../assets/img/honolulu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagenplaya img {
    height: 100%;
    width: 100%;

}

.texto {
    padding: 1%;
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    color: white;
    background-color: rgb(53, 58, 64);
}


.texto a {
    position: absolute;
    top: 30%;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 6px;
    font-size: small;

}

/*fin de pantalla dividida*/
/*arranca el formulario*/

/* texto del formulario*/
.textoFormulario {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    text-align: center;

}

.textoFormulario h2 {
    font-size: xx-large;
    margin-bottom: 10px;
}



.textoFormulario span {
    text-decoration: none;
    font-size: small;
    font-weight: 100;
}

/*termina el texto del formulario*/


.formulario input {
    width: 30%;
    height: 30px;
    margin: 5px;
    border: 1px rgb(199, 198, 198) solid;
    border-radius: 5px;
    font-size: medium;

}


.texarea textarea {
    width: 60.8%;
    height: 150px;
    border: 1px rgb(199, 198, 198) solid;
    border-radius: 5px;
    font-size: x-large;
    text-align: left;

}

.boton input {
    width: 60.5%;
    height: 50px;
    background-color: rgb(150, 201, 62);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.textoRecuerda {
    position: relative;
    right: 23%;
    padding: 10px 10px;
    color: rgb(173, 173, 173);
}

/* finaliza el formulario*/

/*footer*/

.footer {
    height: 10vh;
    margin-top: 10px;
    background-color: rgb(28, 61, 78);
}

.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerNav a {
    padding-top: 20px;
    text-decoration: none;
    color: aliceblue;
}

@media  screen and (max-width:590px) {

    
    .menunav {
            height: 30%;
            width: 100%;
            background-color: rgb(53, 58, 64);
            flex-direction: column;
            align-items: center;
            text-align: start;
    
        }
    
        .contenedorLogo {
            /* texto y logo */
            width: 100%;
            height: 50%;
        }
    
        .contenedorLogo img {
            width: 110%;
        }
        .laConferencia{
            height: 70%;
            background:linear-gradient(to bottom,#0000002d, #00000098,#00000042), url("../assets/img/ba3.jpg");
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
        }
        .contenedorTextConf {
            width: 100%;
            height: 30%;
            margin-left: 10%;
            text-align: left;
            font-size: 90%;
        }
        #texOrador {
            position: absolute;
            top: 90%;
            left: 10%;
            color: white;
        }
        
        
        .colorfondo {
            position: absolute;
            top: 90%;
            left: 45%;
            color: white;
           
        }    
        
        /*aca inician las tarjetas*/
        
        
        .cardPadre {
            width: 100%;
            height: 100vh;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
           
        }
        
        .card img {
            width:40%;
            height: 60%;
            margin-right: 10%;
            padding-bottom: 0;
            object-fit: cover;
            border-radius: 0% 0% 0px 0px;
            
        }
        
        .card {

            padding-top:2%;
            padding-left: 1%;
            margin-bottom: 0;
            border: 1px solid rgb(34, 33, 33);
            width: 90%;
            height: 30%;
            border-radius: 8px 8px 8px 8px;
            -webkit-border-radio: 0px 0px 4px 4px;
            -moz-border-radio: 0px 0px 4px 4px;
            
        
        }
        
        .card h2 {
            display: inline-block;
            position: relative;
            left: 40%;
            bottom: 50%;
            font-size: x-large;
            border: 1px solid black;
            border-radius: 10px;
            padding: 2%;
            
        }
        
        
        .card h4 {
            display: inline;
            margin-left: 1%;
            margin-top: 8%;
            background-color: rgb(20, 196, 196);
            border-radius: 6px;
            padding: 3px;
            color: white;
            font-size: smaller;
        }
        
        #java {
            color: black;
            background-color: rgb(233, 190, 4);
            border: 1px;
        }
        
        #negocios {
            color: white;
            text-decoration: none;
            background-color: grey;
            border: 1px;
        }
        
        .card p {
            position: relative;
            margin-left: 1%;
            margin: 0;
            font-size:15px;
            bottom: 15%;
        }
        
        
/* aca arranca pantalla dividida*/
        .sectionPadre {
            position: relative;
            width: 100%;
            height: 50vh;
        }
        
        .imagenplaya {
            width: 50px;
            height: 50%;
            display:inline;
            background-image: url("../assets/img/honolulu.jpg");
            
        }
        
        .imagenplaya img {
            height: 50%;
            width: 100%;
        
        }
        
        .texto {
            padding-top: 4%;
            display: inline-block;
            width: 100%;
            height: 50%;
            color: white;
            font-size: small;
            background-color: rgb(53, 58, 64);
        }
        
        
        .texto a {
            position: absolute;
            top: 70%;
            text-decoration: none;
            color: aliceblue;
            border: 1px solid;
            border-radius: 5px;
            padding: 6px 6px;
            font-size: small;
        
        }
        
        /* inicio formulario*/

        .formulario input {
            width: 90%;
            height: 30px;
            margin: 5px;
            border: 1px rgb(199, 198, 198) solid;
            border-radius: 5px;
            font-size: medium;
        
        }
        
        
        .texarea textarea {
            width: 90%;
            height: 150px;
            border: 1px rgb(199, 198, 198) solid;
            border-radius: 5px;
            font-size: x-large;
            text-align: left;
        
        }
        
        .boton input {
            width: 90%;
            height: 50px;
            background-color: rgb(150, 201, 62);
            border: 0;
            border-radius: 5px;
            color: white;
            font-size: large;
        }
        
        
        
        
        
        
        
        .footer {
            height: 30vh;
            margin-top: 20px;
        }

        .footerNav {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
        }
        
        .footerNav a {
            padding: initial;
            text-decoration: none;
            color: aliceblue;
            margin: 1.5%;
        }
}
